<div class="d-flex flex-wrap justify-content-center">
  <% stickers.each do |sticker| %>
    <%= link_to balloon_balloon_stickers_path(balloon_id: balloon.id, sticker_id: sticker.id), method: :post, remote: true, class: "m-2" do %>
      <div class="sticker btn balloon-<%= balloon.color_status %>">
        <%= sticker.message %><br>
        <%= quantity_for_balloon_sticker(balloon, sticker) %>
      </div>
    <% end %>
  <% end %>
</div>
