<% stickers.each do |sticker| %>
  <div class="btn border">
    <%= link_to balloon_balloon_stickers_path(balloon_id: balloon.id, sticker_id: sticker.id), method: :post do %>
      <%= sticker.message %>
      <%= quantity_for_balloon_sticker(balloon, sticker) %>
    <% end %>
  </div>
<% end %>
