<table class="table mx-auto">
  <tr>
    <th>ユーザー名</th>
    <th width="50%">コメント</th>
  </tr>
  <% balloon.balloon_comments.each do |balloon_comment| %>
    <tr>
      <% if balloon_comment.user_id == current_user.id || current_user.friends.include?(balloon_comment.user) %>
        <td>
          <div>
            <%= balloon_comment.user.name %>
          </div>
        </td>
        <td width="50%">
          <%= balloon_comment.comment %>
        </td>
        <% if balloon_comment.user_id == current_user.id %>
          <td width="10%">
            <%= link_to balloon_balloon_comment_path(balloon_comment.balloon, balloon_comment), method: :delete, remote: true, data: { confirm: 'コメントを削除しますか？' }, class: "btn btn-sm btn-danger" do %>
              <i class="fa-solid fa-trash-can"></i>
            <% end %>
          </td>
        <% end %>
      <% else %>
        <td>
          匿名
        </td>
        <td>
          -友達でないユーザーのコメント-
        </td>
      <% end %>
    </tr>
  <% end %>
</table>


