<% if @result == nil %>
  <p>ユーザーがいません。</p>
  <p>IDが正しいか確認してください。</p>
<% else %>
  <div class="result-user">
    <div>
      <%= result.name %>
    </div>
    <% if current_user.matchers?(@result) %>
      <p>すでに友達です！</p>
    <% elsif current_user.following?(@result) %>
      <p>-友達申請中-</p>
    <% elsif @result == current_user %>
      <p>ご自身のアカウントです</p>
    <% else %>
      <%= link_to '友達申請', user_relationships_path(@result.id), method: :post, data: { confirm: "友達申請をしますか？" }, class: "btn border" %>
    <% end %>
  </div>
<% end %>
