<article class="bg-cover text-center">
  <h2>友達検索</h2>
  <p>友達のIDを入力して検索してください。(完全一致のみ)</p>
  <div>
    <%= form_with url: searches_user_search_path, method: :post, local: false do |f| %>
      <%= f.text_field :keyword, placeholder: " IDを入力 ", class: "form_control" %>
      <%= f.submit "ID検索" %>
    <% end %>
  </div>

  <div class="search-result mt-4", id="search_result">
  </div>
</article>