<article class="layout pb-5 text-center">
  <h2>「えくせるーん -Excellent Balloon-」のつかいかた</h2>
  <p>”みんなの頑張りを応援し合うおだやかでポジティブなプラットフォーム”を目指しています！</p>

  <h3>はじめに</h3>
  <p>ユーザーを登録しよう！</p>
  <p>※名前はフォローされた友達以外には公開されません。</p>

  <h3>自分のバルーンを作る</h3>
  <p>一日の頑張りをバルーンに詰めて飛ばそう！</p>

  <h4> -バルーンのつくりかた- </h4>
  <p>まずは全12色から好きな色を選択してください。</p>

  <p>そしてあなたの頑張ったことや達成できたことを書き込もう！</p>
  <p>(例：朝早く起きれた！/ 資格勉強3日目！ などなんでもOK！)</p>

  <p>画像を貼ることもできます</p>

  <h4>バルーンができたら”飛ばそう”！</h4>

  <h3>マイページで自分のバルーンを確認する</h3>
  <p>マイページで自分の作ったバルーンを見ることができます。</p>
  <p>バルーンボックスでバルーンの数を確認することができます！<br>(一か月の合計数)</p>
  <p>沢山のバルーンを詰めよう！</p>


  <h3>みんなのバルーンにステッカーを貼ろう！</h3>
  <p>バルーンにはステッカー(応援コメント)を貼ることができます。</p>
  <p>※何枚でも貼れます！いっぱい応援しよう！</p>

  <h3>ID検索を活用して友達にフォロー申請を送る</h3>
  <p>画面左下のID検索を押して、友達のIDを入れてみよう！</p>
  <p>フォロー申請をすることができます。</p>
</article>