<article class="d-flex flex-column text-center">
  <% if @balloons.count == 0 %>
    <div class="m-5 text-center">
      <p>綺麗な青空が広がっていますね</p>
      <p>バルーンを飛ばしましょう！</p>
    </div>
  <% else %>

    <% if @type == "friends" %>
      <h2>友達のバルーン</h2>
      <%= link_to "みんなのバルーン一覧へ", root_path %>
        <%= render "public/balloons/index", balloons: @balloons, stickers: @stickers %>
      </div>

    <% else %>
      <h2>みんなのバルーン</h2>
      <% if user_signed_in? %>
        <%= link_to "友達のバルーン一覧へ", root_path(type: "friends") %>
      <% end %>
          <%= render "public/balloons/index", balloons: @balloons, stickers: @stickers %>
      </div>
    <% end %>
    
  <% end %>
</article>
