<article class="container mb-5 text-center">
  <% if @type == "all" %>
    <h2>投稿一覧</h2>
    <%= link_to "通報一覧へ", admin_top_path %>
  <% else %>
    <h2>通報投稿一覧</h2>
    <%= link_to "全投稿一覧へ", admin_top_path(type: "all") %>
  <% end %>
  <%= render "admin/balloons/index", balloons: @balloons %>
</article>

<!--ページネーション-->