<% if balloon.favorited_by?(current_user) %>
  <div class="favorite-btn">
    <%= link_to balloon_favorites_path(balloon), method: :delete, remote: true do %>
      ★
    <% end %>
  </div>
<% else %>
  <div class="favorite-btn">
    <%= link_to balloon_favorites_path(balloon), method: :post, remote: true do %>
      ☆
    <% end %>
  </div>
<% end %>
