@use '~bootstrap/scss/bootstrap';

html,body {
  height: 100%;
}

body:after {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: #4DC4FF;
  background: -moz-linear-gradient(top, #4DC4FF 0%,#ffffff 100%);
  background: -webkit-linear-gradient(top, #4DC4FF 0%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbcacb', endColorstr='#f79697',GradientType=0 );
  background: linear-gradient(to bottom, #4DC4FF 0%,#ffffff 100%);
  z-index: -1;
}


// 画像プレビュー

.image-preview{
  width: 300px;
  object-fit: cover;
}