<% unless notification.notifiable.user == current_user %>
  <td>
    <%= link_to notification.notifiable.user.name, user_path(notification.notifiable.user) %>
    からの
    <%= link_to '新着メッセージ', chat_path(notification.notifiable.user.id) %>
    です。
    <%= " (#{time_ago_in_words(notification.created_at)}前)" %>
  </td>
<% end %>