<article class="pb-5 text-center">

  <%= render "public/users/introduction", user: @user %>

  <%= render "public/users/trophy_box", month_balloons_counts: @month_balloons_counts %>

  <h3><%= @user.name %>さんのバルーン</h3>

  <%= render "public/balloons/index", balloons: @balloons, stickers: @stickers %>


</article>