<article class='mb-5 text-center'>
  <div class='mx-auto'>
    <h2>退会しますか？</h2>
    <p>※退会すると、同じメールアドレスでのログインができなくなります</p>

    <div class="mt-5 row">
      <div class="col-6">
        <%= link_to "戻る", mypage_path, class: "btn btn-info border" %>
      </div>

      <div class="col-6">
        <%= link_to "退会する", withdrow_path, method: :patch, class: "btn btn-danger border", data: { confirm: "退会してもよろしいですか？" } %>
      </div>
    </div>
  </div>
</article>
